{% extends 'base.html' %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div class="container">
    <br/>
    <h1 class="float-right"> Create Resume </h1>
    <br/>

    <form method="POST" action="{% url 'resume_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary">
            <a href="javascript:history.back()" class="btn btn-dark"> Back </a>
        </div>
        {{ form.as_p }}
        
    </form>
</div>
{% endblock %}