{% extends "base.html" %}
{% block title %} Departments {% endblock %}
{% block body_block %}
{% load static %}
<div class="container">
    <br>
    <div>
        <h2>Departments</h2>
    </div>
    <br/>

    <!-- <div class="float-left">
        <form class="form-inline">
            <a class="btn btn-success mr-sm-2" href="/hr_departments/new_department/"> <i class="fa fa-plus" aria-hidden="true"></i> Create </a>
        </form>
    </div> -->

    <div class="float-right">
        <form class="form-inline" action="/hr_departments/search_by/">    
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
            <button class="btn btn-primary btn-lg" type="submit"> <i class="fas fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="float-left">
        <form class="form-inline" action="/hr_departments/order_by/">    
            <a class="btn btn-success mr-sm-2" href="/hr_departments/new_department/"> <i class="fa fa-plus" aria-hidden="true"></i> Create </a>

            <button class="btn btn-outline-primary mr-sm-2 {{ order_selected.name }}" type="submit" name="order" value="name">Name <i class="fas fa-sort-alpha-down" aria-hidden="true"></i></button>

            <button class="btn btn-outline-primary mr-sm-2 {{ order_selected.age }}" type="submit" name="order" value="sequence">Sequence <i class="fas fa-sort-numeric-up" aria-hidden="true"></i></button>

            <button class="btn btn-outline-primary mr-sm-2 {{ order_selected.address }}" type="submit" name="order" value="note">Note<i class="fas fa-sort-alpha-up" aria-hidden="true"></i></button>

        </form>
    </div>

    <table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <!-- <th scope="col">Options</th> -->
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Sequence</th>
            <th scope="col">Meeting Date</th>
            <th scope="col">Total Employee</th>
            <th scope="col">Note</th>
            <th scope="col">Status</th>
            <th scope="col">Is Active</th>
            <th scope="col">Create Date</th>
        </tr>
    </thead>
    <tbody>
        {% for department in all_departments %}
        <tr class="clickable" onclick="window.location='/hr_departments/detail/{{department.id}}/'">
            <!-- <td>
                <a href="/hr_departments/detail/{{department.id}}/">
                <img src="{% static 'info_ico.png' %}"/>
                </a>
                <a href="/hr_departments/delete/{{department.id}}/">
                <img src="{% static 'del_ico.png' %}"  />
                style="width: 20px; hight: 20px;"
                </a>
                <a href="/hr_departments/update/{{department.id}}/">
                <img src="{% static 'edit_ico.png' %}"/>
                </a>
            </td> -->
            <td>{{ forloop.counter }}</td>
            <td>{{ department.name }}</td>
            <td>{{ department.sequence }}</td>
            <td>{{ department.meeting_date }}</td>
            <td>{{ department.total_employees }}</td>
            <td>{{ department.note }}</td>
            <td>{{ department.status }}</td>
            <td>{{ department.is_active }}</td>
            <td>{{ department.create_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% if is_paginated %}
        <div style="display: flex; justify-content: center;">
            <nav aria-label="Topics pagination" class="mb-4">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}

                    {% for page_num in paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active">
                                <span class="page-link">
                                {{ page_num }}
                                <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}

                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    <!-- <div>
        <p><b>Options:</b></p>
        <p><img src="{% static 'info_ico.png' %}"/>Job details </p>
        <p><img src="{% static 'del_ico.png' %}"/>Delete job </p>
        <p><img src="{% static 'edit_ico.png' %}"/>Edit job </p>
    </div> -->
</div>
{% endblock body_block %}