
<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">  
    <a class="navbar-brand" href="#"> Human Resource Management System </a>  
    
    <div class="navbar-collapse justify-content-end">
        {% if user.is_authenticated %}
        <ul class="navbar-nav">  
            <li class="nav-item">
                <a class="nav-link" href="/hr_employees/show_employee">Home</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Employees
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/hr_employees/show_employee">Employee List</a>
                  <a class="dropdown-item" href="/hr_employees/new_employee">Employee Create</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contracts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/hr_contracts/show_contract">Contract List</a>
                  <a class="dropdown-item" href="/hr_contracts/new_contract">Contract Create</a> 
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Jobs Position
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/hr_jobs/show_job">Job List</a>
                  <a class="dropdown-item" href="/hr_jobs/new_job">Job Create</a> 
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Departments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/hr_departments/show_department">Department List</a>
                  <a class="dropdown-item" href="/hr_departments/new_department">Department Create</a> 
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Recruitments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/hr_recruitments/show_resume">Resume List</a>
                  <a class="dropdown-item" href="/hr_recruitments/new_resume">Resume Create</a> 
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-warning" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user" aria-hidden="true"></i>
                    {{ user.get_full_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="https://www.djangoproject.com">Help</a>
                  <a class="dropdown-item" href="/logout">Logout</a> 
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link">
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link">
                </a>
            </li>

        </ul> 
        {% endif %}
    </div>
</nav>  

